#container{
  background-color: black;
}
#nav{
  height:80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-bottom: 2px solid white;
  margin-left: 87px;
  margin-right: 87px;
}
#nav2{
  height: 70px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
#nav1{
  height: 70px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

}
#image{
  display: flex;
  align-items: center;
  justify-content: center;
}